services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - 8501
    environment:
      - APP_PASSWORD=${APP_PASSWORD}
    networks:
      - dokploy-network
      - default
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pittsfield-taxes.rule=Host(`${APP_DOMAIN:-pittsfieldtaxes.s3techinnovations.com}`)"
      - "traefik.http.routers.pittsfield-taxes.entrypoints=websecure"
      - "traefik.http.routers.pittsfield-taxes.tls=true"
      - "traefik.http.services.pittsfield-taxes.loadbalancer.server.port=8501"
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
        reservations:
          cpus: '0.25'
          memory: 256M

networks:
  dokploy-network:
    external: true
